body {
   font-family: 'Roboto', sans-serif;
   background-color: #f0f0f0;
   color: #333;
   line-height: 1.6;
}

h1 {
    text-align: center;
    color: #1fde45;
    font-weight: 500;
}

.card {
   border: none;
   padding: 20px;
   margin-bottom: 30px;
   background-color: #fff;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

.mine{
   margin: auto;
   max-width: 800px;
   text-align: center;
}

a {
   text-decoration: none;
   color: #1fde45;
}