<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Создать новый пост</h1>
    <form method="POST">
        <label>Название:</label> <br>
        <input type="title" name="title" required><br>
        <label>Текст:</label><br>
        <textarea rows="5" cols="20" name="content" required></textarea><br>
        <button type="create_post">Создать пост</button><br>
    </form>

</body>
</html>