<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detroit</title>
</head>
<body>
    <h1><a href="https://www.quanticdream.com/en/detroit-become-human"> Detroit: Become Human</a> </h1>
    <p>В Detroit: Become Human в ваших руках окажутся судьбы <br> как <b>человечества</b>, так и <b>андроидов</b>.<br> Каждый сделанный вами выбор <b>повлияет</b> на исход игры,<br> в которой реализован одним из самых замысловатых и разветвленных сюжетов<br> из когда-либо созданных в <b>игровой индустрии</b>.</p>
    <img src="/static/header.jpg" width="650">
</body>
</html>