<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webpage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="index">
        <div class="card">
        <h1>Привет мир!</h1>
        <p1>Это моя первая веб-страница<br> А также главная страница сайта</p1>
        <br>
        <a href="https://www.youtube.com/@lenikslonik20"> Мой канал на Youtube</a>
        <img src="/static/11620254.png" width="200">
        </div>
    </div>
</body>
</html>